
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MI FAMILIA</title>
</head>
<body>
    <h1 style="color: red;"> Informacion {{familia}} </h1>

    <p style="color: blue;"> Datos de mi familia</p>

    <ul>

        {%for Nombres in informacion%}

        <li>{{Nombres}} </li>

        {% endfor %}
    </ul>

    <ul>

        {% for Edades in Edad %}

        <li>{{Edades}} </li>

        {% endfor %}

    </ul>


</body>
</html>